<h2>Validate Certificate Authority</h2>

<!-- Secondary Navigation -->
<!-- <div style="width: 30rem; max-width: 100%;">
  <nav class="prsb-secondary-nav">
    <ul>
      <li><a routerLink="/welcome-page">Home</a></li>
    </ul>
  </nav>
</div> -->

<table class="esea-display-table prsb-detail-table">

  <!-- Add a new DN -->
  <tr>
    <td colspan="2">
      <p>To perform Certificate File Assurance Level validation:<br>
        1. Select the certificate file using the Browse button.<br>
        *** The Certificate Authority will be displayed along with the Assurance Level. ***
      </p>

      <input type="file"><br><br>

      <button>Verify Certificate</button>
    </td>
  </tr>
</table>

